@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Indexs";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div><h1>Welcome to Recent Mart</h1>

    
    @WelcomeMessage()


    @helper WelcomeMessage()
{
    <H1>Welcome Employee, @User.Identity.GetUserName()</H1>
    
}
</div>
