<div class="header">
		<div class="top-header">
			<div class="container">
				<div class="top-header-left">
					<ul class="support">
						<li><a href="#"><label> </label></a></li>
						<li><a href="#">24x7 live<span class="live"> support</span></a></li>
					</ul>
					<ul class="support">
						<li class="van"><a href="#"><label> </label></a></li>
						<li><a href="#">Free shipping <span class="live">on order over 500</span></a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
				<div class="top-header-right">
				 <div class="down-top">
						
						 <select tabindex="4" class="dropdown">
						 	<option value="" class="label" value="">English</option>
							<option value="1">Japanese</option>
							<option value="2">French</option>
							<option value="3">German</option>
						  </select>
					 </div>
					<div class="down-top top-down">
						
						 <select tabindex="4" class="dropdown ">
						 	<option value="" class="label" value="">Currency :USD</option>
							<option value="1">Dollar</option>
							<option value="2">Euro</option>
						  </select>
					 </div>
					
					 <!---->
					<div class="clearfix"> </div>	
				</div>
				<div class="clearfix"> </div>		
			</div>
		</div>
		<div class="bottom-header">
			<div class="container">
				<div class="header-bottom-left">
					<div class="logo">
						<a href="/Home/Index"><img src="~/Content/Store/images/logo.png" alt=" " /></a>
					</div>
					<div class="search">
						<input type="text" value="" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}" >
						<input type="submit"  value="SEARCH">

					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="header-bottom-right">
					<ul class="men-grid">
						<li><a href="login.html"><span> </span>YOUR ACCOUNT</a></li>
						<li class="login"><a href="login.html"><span> </span>LOGIN</a>|</li>
						<li class="cart"><a href="#"><span> </span>CART</a></li>
					</ul>
					<div class="sign-up-right">
						<a href="register.html">SIGNUP</a>
					</div>
				</div>
				<div class="clearfix"> </div>	
			</div>
		</div>
	</div>