
 
	<!--header-->
@Html.Partial("Par_Header")
	
	<!---->
	@*<div class="container">
		<div class="banner-menu">



			
		<div class="shoes-grid">
				
	           
	            
	   		     <div class="shoes-grid-left"> 
	   		     	<div class=" con-sed-grid">
	   		     		<div class="elit-grid"> 
		   		     		<h4>consectetur  elit</h4>
		   		     		<span>FOR ALL PURCHASE VALUE</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
							<a class="now-get" href="#">GET NOW</a>
						</div>
						<a href="single.html"><img class="img-responsive shoe-left" src="~/Content/Store/images/HealthItem/S1.jpg" alt=" " /></a>
						<div class="clearfix"> </div>
	   		     	</div>
	   		     	<div class="con-sed-grid sed-left-top">
	   		     		<div class="elit-grid"> 
		   		     		<h4>consectetur  elit</h4>
		   		     		<span>FOR ALL PURCHASE VALUE</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
							<a class="now-get" href="#">GET NOW</a>
						</div>
						<a href="single.html"><img class="img-responsive shoe-left" src="~/Content/Store/images/wa.jpg" alt=" " /></a>
						<div class="clearfix"> </div>
	   		     	</div>
	   		     </div>
	   		     <div class="products">
	   		     	<h5 class="latest-product">LATEST PRODUCTS</h5>	
	   		     	  <a class="view-all" href="product.html">VIEW ALL<span> </span></a> 		     
	   		     </div>
	   		     <div class="product-left">
	   		     	<div class=" chain-grid">
	   		     		<a href="single.html"><img class="img-responsive chain" src="~/Content/Store/images/ch.jpg" alt=" " /></a>
	   		     		<span class="star"> </span>
	   		     		<div class="grid-chain-bottom">
	   		     			<h6>Lorem ipsum dolor</h6>
	   		     			<div class="star-price">
	   		     				<div class="dolor-grid"> 
		   		     				<span class="actual">300$</span>
		   		     				<span class="reducedfrom">400$</span>
		   		     				  <span class="rating">
									        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
									        <label for="rating-input-1-5" class="rating-star1"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
									        <label for="rating-input-1-4" class="rating-star1"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
									        <label for="rating-input-1-3" class="rating-star"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
									        <label for="rating-input-1-2" class="rating-star"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
									        <label for="rating-input-1-1" class="rating-star"> </label>
							    	   </span>
	   		     				</div>
	   		     				<a class="now-get get-cart" href="#">ADD TO CART</a> 
	   		     				<div class="clearfix"> </div>
							</div>
	   		     		</div>
	   		     	</div>
	   		     	<div class=" chain-grid">
	   		     		<a href="single.html"><img class="img-responsive chain" src="~/Content/Store/images/ba.jpg" alt=" " /></a>
	   		     		<span class="star"> </span>
	   		     		<div class="grid-chain-bottom">
	   		     			<h6>Lorem ipsum dolor</h6>
	   		     			<div class="star-price">
	   		     				<div class="dolor-grid"> 
		   		     				<span class="actual">300$</span>
		   		     				<span class="reducedfrom">400$</span>
		   		     				  <span class="rating">
									        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
									        <label for="rating-input-1-5" class="rating-star1"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
									        <label for="rating-input-1-4" class="rating-star1"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
									        <label for="rating-input-1-3" class="rating-star"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
									        <label for="rating-input-1-2" class="rating-star"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
									        <label for="rating-input-1-1" class="rating-star"> </label>
							    	   </span>
	   		     				</div>
	   		     				<a class="now-get get-cart" href="#">ADD TO CART</a> 
	   		     				<div class="clearfix"> </div>
							</div>
	   		     		</div>
	   		     	</div>
	   		     	<div class=" chain-grid grid-top-chain">
	   		     		<a href="single.html"><img class="img-responsive chain" src="~/Content/Store/images/bo.jpg" alt=" " /></a>
	   		     		<span class="star"> </span>
	   		     		<div class="grid-chain-bottom">
	   		     			<h6>Lorem ipsum dolor</h6>
	   		     			<div class="star-price">
	   		     				<div class="dolor-grid"> 
		   		     				<span class="actual">300$</span>
		   		     				<span class="reducedfrom">400$</span>
		   		     				  <span class="rating">
									        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
									        <label for="rating-input-1-5" class="rating-star1"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
									        <label for="rating-input-1-4" class="rating-star1"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
									        <label for="rating-input-1-3" class="rating-star"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
									        <label for="rating-input-1-2" class="rating-star"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
									        <label for="rating-input-1-1" class="rating-star"> </label>
							    	   </span>
	   		     				</div>
	   		     				<a class="now-get get-cart" href="#">ADD TO CART</a> 
	   		     				<div class="clearfix"> </div>
							</div>
	   		     		</div>
	   		     	</div>
	   		     	 <div class="clearfix"> </div>
	   		     </div>
	   		     <div class="products">
	   		     	<h5 class="latest-product">LATEST PRODUCTS</h5>	
	   		     	  <a class="view-all" href="product.html">VIEW ALL<span> </span></a> 		     
	   		     </div>
	   		     <div class="product-left">
	   		     	<div class=" chain-grid">
	   		     		<a href="single.html"><img class="img-responsive chain" src="~/Content/Store/images/bott.jpg" alt=" " /></a>
	   		     		<span class="star"> </span>
	   		     		<div class="grid-chain-bottom">
	   		     			<h6>Lorem ipsum dolor</h6>
	   		     			<div class="star-price">
	   		     				<div class="dolor-grid"> 
		   		     				<span class="actual">300$</span>
		   		     				<span class="reducedfrom">400$</span>
		   		     				  <span class="rating">
									        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
									        <label for="rating-input-1-5" class="rating-star1"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
									        <label for="rating-input-1-4" class="rating-star1"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
									        <label for="rating-input-1-3" class="rating-star"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
									        <label for="rating-input-1-2" class="rating-star"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
									        <label for="rating-input-1-1" class="rating-star"> </label>
							    	   </span>
	   		     				</div>
	   		     				<a class="now-get get-cart" href="#">ADD TO CART</a> 
	   		     				<div class="clearfix"> </div>
							</div>
	   		     		</div>
	   		     	</div>
	   		     	<div class=" chain-grid">
	   		     		<a href="single.html"><img class="img-responsive chain" src="~/Content/Store/images/bottle.jpg" alt=" " /></a>
	   		     		<span class="star"> </span>
	   		     		<div class="grid-chain-bottom">
	   		     			<h6>Lorem ipsum dolor</h6>
	   		     			<div class="star-price">
	   		     				<div class="dolor-grid"> 
		   		     				<span class="actual">300$</span>
		   		     				<span class="reducedfrom">400$</span>
		   		     				  <span class="rating">
									        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
									        <label for="rating-input-1-5" class="rating-star1"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
									        <label for="rating-input-1-4" class="rating-star1"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
									        <label for="rating-input-1-3" class="rating-star"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
									        <label for="rating-input-1-2" class="rating-star"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
									        <label for="rating-input-1-1" class="rating-star"> </label>
							    	   </span>
	   		     				</div>
	   		     				<a class="now-get get-cart" href="#">ADD TO CART</a> 
	   		     				<div class="clearfix"> </div>
							</div>
	   		     		</div>
	   		     	</div>
	   		     	<div class=" chain-grid grid-top-chain">
	   		     		<a href="single.html"><img class="img-responsive chain" src="~/Content/Store/images/baa.jpg" alt=" " /></a>
	   		     		<span class="star"> </span>
	   		     		<div class="grid-chain-bottom">
	   		     			<h6>Lorem ipsum dolor</h6>
	   		     			<div class="star-price">
	   		     				<div class="dolor-grid"> 
		   		     				<span class="actual">300$</span>
		   		     				<span class="reducedfrom">400$</span>
		   		     				  <span class="rating">
									        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
									        <label for="rating-input-1-5" class="rating-star1"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
									        <label for="rating-input-1-4" class="rating-star1"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
									        <label for="rating-input-1-3" class="rating-star"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
									        <label for="rating-input-1-2" class="rating-star"> </label>
									        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
									        <label for="rating-input-1-1" class="rating-star"> </label>
							    	   </span>
	   		     				</div>
	   		     				<a class="now-get get-cart" href="#">ADD TO CART</a> 
	   		     				<div class="clearfix"> </div>
							</div>
	   		     		</div>
	   		     	</div>
	   		     	 <div class="clearfix"> </div>
	   		     </div>
	   		     <div class="clearfix"> </div>
	   		   </div> *@
            



            <!-- start 000000000000000000000000000000content -->
	<div class="container">
		<div class="banner-menu">
            <div class="shoes-grid">
	



                <div class="women-product">
		<div class=" w_content">
			<div class="women">
				<a href="#"><h4>Enthecwear - <span>4449 itemms</span> </h4></a>
				<ul class="w_nav">
					<li>Sort : </li>
			     	<li><a class="active" href="#">popular</a></li> |
			     	<li><a href="#">new </a></li> |
			     	<li><a href="#">discount</a></li> |
			     	<li><a href="#">price: Low High </a></li> 
			     </ul>
			     <div class="clearfix"> </div>	
			</div>
		</div>
                    </div>


		<!-- grids_of_4 -->
		<div class="grid-product">
		  <div class="  product-grid">
			<div class="content_box"><a href="/Products/SingleProduct">
			   	<div class="left-grid-view grid-view-left">
			   	   	 <img src="~/Content/Store/images/HealthItem/H1.jpg" class="img-responsive watch-right" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></div>
				   	  </a>
				</div>
				    <h4><a href="#"> Duis autem</a></h4>
				     <p>It is a long established fact that a reader</p>
				     Rs. 499
			   	</div>
              </div>
			 <div class="  product-grid">
			<div class="content_box"><a href="/Products/SingleProduct">
			   	<div class="left-grid-view grid-view-left">
			   	   	 <img src="~/Content/Store/images/HealthItem/H2.jpg" class="img-responsive watch-right" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></div>
				   	  </a>
				   </div>
				    <h4><a href="#"> Duis autem</a></h4>
				     <p>It is a long established fact that a reader</p>
				     Rs. 499
			   	</div>
                
			 <div class="  product-grid">
			<div class="content_box"><a href="/Products/SingleProduct">
			   	<div class="left-grid-view grid-view-left">
			   	   	 <img src="~/Content/Store/images/HealthItem/H3.jpg" class="img-responsive watch-right" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></div>
				   	  </a>
				   </div>
				    <h4><a href="#"> Duis autem</a></h4>
				     <p>It is a long established fact that a reader</p>
				     Rs. 499
			   	</div>
           
		  <div class="  product-grid">
			<div class="content_box"><a href="/Products/SingleProduct">
			   	<div class="left-grid-view grid-view-left">
			   	   	 <img src="~/Content/Store/images/pic4.jpg" class="img-responsive watch-right" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></div>
				   	  </a>
				   </div>
				    <h4><a href="#"> Duis autem</a></h4>
				     <p>It is a long established fact that a reader</p>
				     Rs. 499
			   	</div>
              
			 <div class="  product-grid">
			<div class="content_box"><a href="/Products/SingleProduct">
			   	<div class="left-grid-view grid-view-left">
			   	   	 <img src="~/Content/Store/images/pic6.jpg" class="img-responsive watch-right" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></div>
				   	  </a>
				   </div>
				    <h4><a href="#"> Duis autem</a></h4>
				     <p>It is a long established fact that a reader</p>
				     Rs. 499
			   	</div>
               
			 <div class="  product-grid">
			<div class="content_box"><a href="/Products/SingleProduct">
			   	<div class="left-grid-view grid-view-left">
			   	   	 <img src="~/Content/Store/images/pic7.jpg" class="img-responsive watch-right" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></div>
				   	  </a>
				   </div>
				    <h4><a href="#"> Duis autem</a></h4>
				     <p>It is a long established fact that a reader</p>
				     Rs. 499
			   	</div>
            
		  <div class="  product-grid">
			<div class="content_box"><a href="/Products/SingleProduct">
			   	<div class="left-grid-view grid-view-left">
			   	   	 <img src="~/Content/Store/images/pic8.jpg" class="img-responsive watch-right" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></div>
				   	  </a>
				   </div>
				    <h4><a href="#"> Duis autem</a></h4>
				     <p>It is a long established fact that a reader</p>
				     Rs. 499
			   	</div>
             
			 <div class="  product-grid">
			<div class="content_box"><a href="/Products/SingleProduct">
			   	<div class="left-grid-view grid-view-left">
			   	   	 <img src="~/Content/Store/images/pic11.jpg" class="img-responsive watch-right" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></div>
				   	  </a>
				   </div>
				    <h4><a href="#"> Duis autem</a></h4>
				     <p>It is a long established fact that a reader</p>
				     Rs. 499
			   	</div>
             
			 <div class=" product-grid">
			<div class="content_box"><a href="/Products/SingleProduct">
			   	<div class="left-grid-view grid-view-left">
			   	   	 <img src="~/Content/Store/images/pic12.jpg" class="img-responsive watch-right" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></div>
				   	  </a>
				   </div>
				    <h4><a href="#"> Duis autem</a></h4>
				     <p>It is a long established fact that a reader</p>
				     Rs. 499
			   	</div>
              
			<div class="clearfix"> </div>
        </div>
             @Html.Partial("Par_Categary")
        </div>

	</div>
       
		
	





           @* @Html.Partial("Par_Categary")
            
              
			 
	   		    <div class="clearfix"> </div>        	         
		</div>
	</div>*@
	