
 
	<!--header-->
@Html.Partial("Par_Header")
	


<div class="container">
		

			<div class="women-product">
					<div class=" w_content">
						<div class="women">
							<a href="#"><h4>---</span> </h4></a>
							<ul class="w_nav">
								<li>Sort : </li>
						     	<li><a class="active" href="#">popular</a></li> |
						     	<li><a href="#">new </a></li> |
						     	<li><a href="#">discount</a></li> |
						     	<li><a href="#">price: Low High </a></li> 
						     <div class="clearfix"> </div>	
						     </ul>
						     <div class="clearfix"> </div>	
						</div>
					</div>


					<!-- grids_of_4 -->
					<div class="grid-product">
					  
							<div class="content_box">

							     <div id="collapse-4" class="panel-collapse collapse in">
	                                <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:180px;" alt="" 		src="~/Content/Store/images/HealthItem/H1.jpg" />

	                                    <p><strong>N.J.G.</strong> Capsule is very effective products first time launched in India in joint venture with Hawaiian Herbals, Hawaii, USA. N.J.G. is sourced from the highest-quality herbs and concentrated by 100% natural processes. These are formulated using natural extracts of various medicinal plants and are highly admired for side effect free feature. This product is HALAL & Kosher certified and has been produced under international GMP regulations. N.J.G.  helps in stimulating protein synthesis (the process in muscle fibers that leads to increased muscle growth) and improves rate of digestion. 

	                                    <a  href="#"><strong>Read More..............</strong></a> </p>
	                                    <p>Take one capsule twice daily on an empty stomach or at least half an hour before morning and evening meal. For better result, continue to use for 6-12 months.</p>
	                                    <p><h4>Rs 699/</h4></p>
	                                    


                                    </div>
                                    	
                                 </div>

                            </div>

              		<!--Second Item -->
              		<div class="content_box">

							     <div id="collapse-4" class="panel-collapse collapse in">
	                                <div class="panel-body"><img class="img-thumbnail image-text" style="float:right; width:180px;" alt="" 		src="~/Content/Store/images/HealthItem/H2.jpg" />

	                                    <p><strong>Cholesterol Guard</strong> Maintaining normal levels of cholesterol is essential for a healthy heart and long life. Cholesterol Guard Capsules is an excellent dietary supplement designed by RECENT HEALTHCARE LTD. in partner with Hawaiian Herbals, USA to maintain cholesterol levels already within a healthy range, and provide potent antioxidant protection. It is a HALAL and KOSHER certified product produced under international GMP regulations.</p>


	                                    <a  href="#"><strong>Read More..............</strong></a> </p>
	                                    

	                                    <p>Take one capsule twice daily on an empty stomach or at least half an hour before morning and evening meal. For better result, continue to use for 6-12 months.</p>
	                                    <p><h4>Rs 999/</h4></p>
                                    </div>

                                 </div>

                            </div>
					<!--Thered Item -->


              		<div class="content_box">

							     <div id="collapse-4" class="panel-collapse collapse in">
	                                <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:180px;" alt="" 		src="~/Content/Store/images/HealthItem/H3.jpg" />

	                                    <p><strong>Weight Guard</strong> capsule is an excellent combination of 100% natural herbs which help to cleanse the body of harmful fats and disease causing free radicals while promoting healthy weight loss. This has been brought in India by RECENT HEALTH CARE under license from Hawaiian Herbals, Hawaii, and USA. This is a HALAL & KOSHER certified product produced under International GMP regulations. Weight Guard promotes weight loss by regulating the body metabolism, reducing hunger and appetite and suppressing carbohydrate conversion into fat.</p>


	                                    <a  href="#"><strong>Read More..............</strong></a> </p>
	                                    

	                                    <p>Take one capsule twice daily on an empty stomach or at least half an hour before morning and evening meal. For better result, continue to use for 6-12 months.</p>
	                                    <p><h4>Rs 1499/</h4></p>
                                    </div>

                                 </div>

                            </div>


                            <!--IV Item -->


              		<div class="content_box">

							     <div id="collapse-4" class="panel-collapse collapse in">
	                                <div class="panel-body"><img class="img-thumbnail image-text" style="float:right; width:180px;" alt="" 		src="~/Content/Store/images/HealthItem/H4.jpg" />

	                                    <p>RECENT HEALTH CARE is 100% natural product first time brought in India in technical collaboration with Hawaiian Herbals, Hawaii, USA. This product is HALAL & Kosher Certified, produced under GMP regulations RECENT HEALTH CARE Capsules may be extremely useful in all types of Piles, Fistula and prolonged disorders of intestine and rectum. This product may contain the quality of purifying blood and curing a number of allergies, fungus and bacterial infections taking place in the body due to impure of blood.</p>


	                                    <a  href="#"><strong>Read More..............</strong></a> </p>
	                                    

	                                    <p>Take one capsule twice daily on an empty stomach or at least half an hour before morning and evening meal. For better result, continue to use for 6-12 months.</p>
	                                    <p><h4>Rs 899/</h4></p>
                                    </div>

                                 </div>

                            </div>

                            <!--V Item -->


              		<div class="content_box">

							     <div id="collapse-4" class="panel-collapse collapse in">
	                                <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:180px;" alt="" 		src="~/Content/Store/images/HealthItem/H5.jpg" />

	                                    <p><strong>WO-MEN-MC</strong> Leucorrhoea Care is launched in India in partner with Hawaiian Herbals, Hawaii, USA. It is 100% natural product produced under international GMP regulations and has been tested and verified by researcher’s team. This product delivers superior nutritional support for leucorrhoea. WO-MEN-MC  is ultimate product for these stubborn gynecological problems. Our product is processed with purest quality ingredients procured from reliable suppliers of the market and then manufactured. These products are manufactured and packed under extreme hygienic conditions and under the strict vigilance of quality department. RECENT HEALTHCARE  has come up with wonderful quality product for women.</p>


	                                    <a  href="#"><strong>Read More..............</strong></a> </p>
	                                    

	                                    <p>Take one capsule twice daily on an empty stomach or at least half an hour before morning and evening meal. For better result, continue to use for 6-12 months.</p>
	                                    <p><h4>Rs 699/</h4></p>
                                    </div>

                                 </div>

                            </div>
                             <!--VI Item -->


              		<div class="content_box">

							     <div id="collapse-4" class="panel-collapse collapse in">
	                                <div class="panel-body"><img class="img-thumbnail image-text" style="float:right; width:180px;" alt="" 		src="~/Content/Store/images/HealthItem/H6.jpg" />

	                                    <p>RECENT HEALTHCARE  has launched <strong>RIFAVIT-80 </strong>Capsules in India in partnership with Hawaiian Herbals, Hawaii, USA. This is HALAL & Kosher acclaimed product & is produced under International GMP regulations. RIFAVIT-80 is a convenient way to get some of the most researched phytonutrients in amount equivalent to multiple servings of fruits and vegetable which is impossible to take in one single day through meals. RIFAVIT-80 is a rich source of a broad range of phytonutrients such as Flavonoids, Carotenoids, and Polyphenols, etc all of which have important health promoting benefits. RIFAVIT-80 is unique combination of multiple vitamins, minerals, fibers, protein, fatty acids and amino acids. This product also got the benefits of the exclusive plant, mushrooms, herbs, berries concentrates.</p>


	                                    <a  href="#"><strong>Read More..............</strong></a> </p>
	                                    

	                                    <p>Take one capsule twice daily on an empty stomach or at least half an hour before morning and evening meal. For better result, continue to use for 6-12 months.</p>
	                                    <p><h4>Rs 699/</h4></p>
                                    </div>

                                 </div>

                            </div>

						     <!--VII Item -->


              		<div class="content_box">

							     <div id="collapse-4" class="panel-collapse collapse in">
	                                <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:180px;" alt="" 		src="~/Content/Store/images/HealthItem/H7.jpg" />

	                                    <p><strong>RECALCIE–MAX (Coral Calcium Capsules)</strong> has been introduced by RECENT HEALTH CARE, in collaboration with Hawaiian Herbals, USA. It is a HALAL and Kosher certified product. It is 100% natural product produced under international GMP regulations. As per many clinical trials it has been noticed that high purity fossilized coral calcium contains magnesium, Sodium, zinc, potassium, iodine and many other microscopic elements essential to human life. In addition, fossilized oral calcium contains antioxidants known to help protect the body from free radical damage. </p>


	                                    <a  href="#"><strong>Read More..............</strong></a> </p>
	                                    

	                                    <p>Take one capsule twice daily on an empty stomach or at least half an hour before morning and evening meal. For better result, continue to use for 6-12 months.</p>
	                                    <p><h4>Rs 999/</h4></p>
                                    </div>

                                 </div>

                            </div>
                             <!--VIII Item -->


              		<div class="content_box">

							     <div id="collapse-4" class="panel-collapse collapse in">
	                                <div class="panel-body"><img class="img-thumbnail image-text" style="float:right; width:180px;" alt="" 		src="~/Content/Store/images/HealthItem/H8.jpg" />

	                                    <p><strong>REFATTY-3</strong> Softgels is a dietary supplement manufactured and marketed by RECENT HEALTH CARE,in partnership with Hawaiian Herbals, Hawaii USA. It is HALAL and Kosher certified product and has been produced under international GMP regulations. REFATTY-3 Softgels is 100% natural and safe product recommended to be used for all age groups.</p>


	                                    <a  href="#"><strong>Read More..............</strong></a> </p>
	                                    

	                                    <p>Take one capsule twice daily on an empty stomach or at least half an hour before morning and evening meal. For better result, continue to use for 6-12 months.</p>
	                                    <p><h4>Rs 999/</h4></p>
                                    </div>

                                 </div>

                            </div>
			<!--IX Item -->
              		<div class="content_box">

							     <div id="collapse-4" class="panel-collapse collapse in">
	                                <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:180px;" alt="" 		src="~/Content/Store/images/HealthItem/H9.jpg" />

	                                    <p><strong>HEAL LIV </strong>Capsules is manufactured and marketed by RECENT HEALTH CARE, an ISO 9001:2008 certified company, in partnership with Hawaiian Herbals, Hawaii USA. It is HALAL and Kosher certified product and has been produced under international GMP regulations. This product contains different vital herbs in optimum concentration required to provide complete benefits to restore liver function parameters, which may help to check degeneration and promote regeneration of liver cells. Liver care drops may have antiviral, antioxidant, anti-inflammatory and immune- modulator action.</p>


	                                    <a  href="#"><strong>Read More..............</strong></a> </p>
	                                    

	                                    <p>Take one capsule twice daily on an empty stomach or at least half an hour before morning and evening meal. For better result, continue to use for 6-12 months.</p>
	                                    <p><h4>Rs 1499/</h4></p>
                                    </div>

                                 </div>

                            </div>
                            <!--X Item -->
              		<div class="content_box">

							     <div id="collapse-4" class="panel-collapse collapse in">
	                                <div class="panel-body"><img class="img-thumbnail image-text" style="float:right; width:180px;" alt="" 		src="~/Content/Store/images/HealthItem/H12.jpg" />

	                                    <p>RECENT HEALTH CARE, an ISO 9001-2008 certified company has introduced first time in India an excellent product RESURE Capsules.  It is a HALAL & Kosher certified Dietary Supplement, marketed in India by RECENT HEALTH CARE in collaboration with Hawaiian Herbals, USA. It is 100% natural product produced under international GMP regulations. It contains effective ingredients that support normal blood sugar levels, when combined with a healthy diet and lifestyle. This may maintain healthy glucose levels, better absorption in the intestine.</p>


	                                    <a  href="#"><strong>Read More..............</strong></a> </p>
	                                    

	                                    <p>Take one capsule twice daily on an empty stomach or at least half an hour before morning and evening meal. For better result, continue to use for 6-12 months.</p>
	                                    <p><h4>Rs 899/</h4></p>
                                    </div>

                                 </div>

                            </div>
								      <!--XI Item -->
              		<div class="content_box">

							     <div id="collapse-4" class="panel-collapse collapse in">
	                                <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:180px;" alt="" 		src="~/Content/Store/images/HealthItem/H13.jpg" />

	                                    <p>Kai Glucosamine tablet is one of the most popular nutritio nal supplements in the world, and is launched by Kai Natural Care in technical collaboration with Hawaiian herbals, Hawaii, USA. This is HALAL & Kosher acclaimed product and produced under GMP regulations. It contributes towards developing and maintaining healthy cartilage. Glucosamine also keeps joints supple through better lubrication.</p>


	                                    <a  href="#"><strong>Read More..............</strong></a> </p>
	                                    

	                                    <p>Take one capsule twice daily on an empty stomach or at least half an hour before morning and evening meal. For better result, continue to use for 6-12 months.</p>
	                                    <p><h4>Rs 699/</h4></p>
                                    </div>

                                 </div>

                            </div>
								   
								    <!--XIII Item -->
              		<div class="content_box">

							     <div id="collapse-4" class="panel-collapse collapse in">
	                                <div class="panel-body"><img class="img-thumbnail image-text" style="float:right; width:180px;" alt="" 		src="~/Content/Store/images/HealthItem/H14.jpg" />

	                                    <p>RECENT HEALTHCARE, an ISO 9001-2008 certified company has introduced first time in India an excellent product; D-ToxiPlus under License from America’s Finest International (AFI) based in USA. It is 100% natural product and without any side effects. It may support the body’s natural mechanism to eliminate toxins, enhance healthy digestion, provide normal liver functions, weight management and maintain energy level. This is a specially formulated product to encourage overall detoxification process of the body, prevent from numerous health problems.</p>


	                                    <a  href="#"><strong>Read More..............</strong></a> </p>
	                                    

	                                    <p>Take one capsule twice daily on an empty stomach or at least half an hour before morning and evening meal. For better result, continue to use for 6-12 months.</p>
	                                    <p><h4>Rs 699/</h4></p>
                                    </div>

                                 </div>

                            </div>
								   
						   <!--XIV Item -->
              		<div class="content_box">

							     <div id="collapse-4" class="panel-collapse collapse in">
	                                <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:180px;" alt="" 		src="~/Content/Store/images/HealthItem/H15.jpg" />

	                                    <p><strong>RE-XTRA </strong>Capsules is a premium herbal formulation for sexual health enhancement. It has been formulated and designed by RECENT HEALTHCARE in partner with Hawaiian Herbals located in Hawaii, USA to enhance sexual performance without the unwanted side effects of prescription drugs. RE-XTRA Capsules   is a HALAL & KOSHER certified product produced under International GMP regulations. It is a proven sex enhancement capsule to instantly improve libido, sexual energy & better immune system. It increases natural arousal, response to stimulation and give fantastic staying power and stamina for extended sexual performance. </p>


	                                    <a  href="#"><strong>Read More..............</strong></a> </p>
	                                    

	                                    <p>Take one capsule twice daily on an empty stomach or at least half an hour before morning and evening meal. For better result, continue to use for 6-12 months.</p>
	                                    <p><h4>Rs 1499/</h4></p>
                                    </div>

                                 </div>

                            </div>



		   
						  
			            







						<div class="clearfix"> </div>
					</div>
				</div>	





				@Html.Partial("Par_Categary")

</div>
            


