@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


		<!-- Start Page Banner -->
		<div class="page-banner" style="padding:40px 0; background: url(~/Content/Bootstrap/images/slide-02-bg.jpg) center #f9f9f9;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						
                        <img src="~/Content/Bootstrap/images/about-04.png">
                        <ul class="breadcrumbs">
							<li><a href="/Home/Index">Home</a></li>
							<li>About Us</li>
						</ul>
					</div>
					<!--<div class="col-md-6">
						<ul class="breadcrumbs">
							<li><a href="#">Home</a></li>
							<li>About Us</li>
						</ul>
					</div>-->
				</div>
                	
			</div>
		</div>
		<!-- End Page Banner -->
		
		
		

		<div id="content">
			<div class="container">
				<div class="row sidebar-page">

					<!-- Page Content -->
					<div class="col-md-12 page-content">

						<!-- Toggle -->
						<div class="panel-group">

							<!-- Start Toggle 1 -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h1 class="classic-title">
										About Bright Future Mart
										
									</h1>
								</div>
								<div id="collapse-1" class="panel-collapse collapse in">
									<div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:300px;" alt="" src="~/Content/Bootstrap/images/about-011.jpg" /> 
									<p><strong>Bright Future Mart</strong> is a Product Base Company. It aims to bring happy and prosperous life to millions of people by forming meaningful ,long lasting and mutually rewarding business association. It has built up its base through distinguished quality products and income plans the quality of which is being widely honored and acclaimed. It has a unique business solution for all class of people to earn unlimited income.</P>
									<P>Congratulations for having taken a right decision in your life. You are joining the Company which is going to create HISTORY IN THE NETWORK MARKETING BUSINESS. We have brought about a LOW-COST CONCEPT that has the power to radically change your LIFE STYLE. Your search for FAME, MONEY, HAPPINESS and SUCCESS has ended the moment you took the decision to be part of our ever growing Bright Future Mart family.
									</P>


 </div>
								</div>
							</div>
							<!-- End Toggle 1 -->

							<!-- Start Toggle 3 -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
											 Our Mission
										</a>
									</h4>
								</div>
								<div id="collapse-2" class="panel-collapse collapse">
									<div class="panel-body"><img class="img-thumbnail image-text" style="float:right; width:250px;" alt="" src="~/Content/Bootstrap/images/about-02.jpg" /><p>Mission
Our mission is to transform dreams into reality! Establishing Bright Future Mart as the premier supplier of the SERVICES in the world while maintaining our uncompromising principles as we grow. The following guiding principles which will help us measure the appropriateness of our decisions:</p>

<p><strong>“To create an environment for talent to Innovate, Perform, Strive for Industry Best Practices, Excel in Market Share and Meet Customer Expectations with consistent growth.”</strong></p>

<p>Bright Future Group has always been Values- Driven. These principles continue to direct the business & growth of the organization, support our Vision, shape our culture and reflect what we value. The Bright Future Group -Values underpinning the way we do business are:</p>

Core Values</br>
Mutual Respect with Integrity</br>
Performance Excellence</br>
Industry Leadership</br>
Innovation</br>
<p>Bright Future group was founded with the belief that people are basically good. We believe that each of our customers, whether a buyer or a seller, is an individual who deserves to be treated with respect. The growth of the Group will come from meeting and exceeding the expectations of these very special people.”</p></div>
								</div>
							</div>
							<!-- End Toggle 2 -->

							<!-- Start Toggle 3 -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h1 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed">
											<i class="fa fa-angle-down control-icon"></i>
											<strong>Vision</strong>
										</a>
									</h1>
								</div>
								<div id="collapse-3" class="panel-collapse collapse">
									<div class="panel-body"><img class="img-thumbnail image-text" style="float:right; width:250px;" alt="" src="~/Content/Bootstrap/images/about-03.jpg" /><p>To become a Role model in this type of business innovative systems and become best Product base mlm company in india.
SET A COMMON GOAL By Mobilizing the people around a common goal which will help them feel a part of something genuine, special, and important.</p>
<p><strong>We at Bright Future Mart</strong> believe that when we give of our self to mlm business opportunity, we receive more than we give. We have formed our vision keeping this belief as our foundation. Our immediate and the top priority goal is to help as many needy people as we can. We are aware that this easier said than done, since these people form rigid wall of insecurity and mistrust around them due to past experiences. But we believe that every person has a heart and if we can reach it, we can make a difference.
An educated country is a happy and developed country. One of the primary reasons that India is still counted among developing countries is illiteracy. More the number of illiterate people we have in our country, more is the unemployment rate, which further gives birth to poverty. We cannot argue the fact that India is still a poverty stricken country. The ratio of people living below poverty line and those above poverty line bends hugely in favour of the former.</p></div>
								</div>
							</div>
							<!-- End Toggle 3 -->

						</div>
						<!-- End Toggle -->

						<!-- Divider -->
						<div class="hr5" style=" margin-top:45px; margin-bottom:40px;"></div>

						</div>

					</div>
					<!-- End Page Content-->

					
					

						

					</div>
					<!--End sidebar-->


				</div>
			