@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<!-- Start Content -->
		<div id="content">
			<div class="container">
				<div class="row sidebar-page">
					
					<!-- Page Content -->
					<div class="col-md-12 page-content">
						
						<div class="tabs-section">
							
							<!-- Nav Tabs -->
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab-1" data-toggle="tab"><i><img src="~/Content/Bootstrap/images/bu-01.png"></i></a></li>
								<li><a href="#tab-2" data-toggle="tab"><i><img src="~/Content/Bootstrap/images/bu-02.png"></i></a></li>
								<li><a href="#tab-3" data-toggle="tab"><i><img src="~/Content/Bootstrap/images/bu-03.png"></i></a></li>
                                <li><a href="#tab-4" data-toggle="tab"><i><img src="~/Content/Bootstrap/images/bu-04.png"></i></a></li>
							</ul>
							
							<!-- Tab panels -->
							<div class="tab-content">
								<!-- Tab Content 1 -->
								<div class="tab-pane fade in active" id="tab-1">
                                <p><img class="img-thumbnail image-text" style="float:right; width:500px;" alt="" src="~/Content/Bootstrap/images/BP-3.png" /></p>
									<p><h1><strong class="accent-color">Team Bonus Income</strong> </h1>First Time in India Company Launch <strong>Save Income</strong>You Can Get Many Types Of Income. Team bonus income is one of them. When you joine two Members one is Right Side and Other is Lefe Side then you complete One pair. In every pair you can get Team bonus Income.</p>
                                    <p><strong>Weekly Capping</strong> You earn Lot of money. Your Weekly Capping is 20,000/- Week.</p>
									<h1><p><strong>Pair Income (One Left + One Right) : 200/-(UNLIMITED DEPTH)</strong></p></h1>
									<p>&nbsp;</p>
									<h1><p><strong>Weekly Capping : 20,000/-</strong></p></h1>
									<p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>&nbsp;</p>
								</div>
								<!-- Tab Content 2 -->
								<div class="tab-pane fade" id="tab-2">
									<P><h1><strong class="accent-color">Rewards Income</strong></h1></P>
                                    
                                    <div class="row page-header">
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <h2>Pair:</h2>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h2>Days:</h2>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-6">
                                        <h2>Rewards:</h2>
                                        </div>
                                    </div>
                                    
                                    <div class="row page-header">
                                    
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>50 Pairs</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>30 Days</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>L.C.D.</h>
                                        </div>
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <img src="~/Content/Bootstrap/images/Reward/lcd.png">
                                        </div>
                                    
                                    </div>
                                    
                                    
                                    <div class="row page-header">
                                    
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>Next 100 Pairs</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>60 Days</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>Mobile (Rs-10,000).</h>
                                        </div>
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <img src="~/Content/Bootstrap/images/Reward/mobial.png">
                                        </div>
                                    
                                    </div>
                                    
                                    
                                    
                                    <div class="row page-header">
                                    
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>250 Pairs</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>90 Days</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>Laptop(Rs-25,000)</h>
                                        </div>
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <img src="~/Content/Bootstrap/images/Reward/leptop.png">
                                        </div>
                                    
                                    </div>
                                    
                                    
                                    
                                    <div class="row page-header">
                                    
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>500 Pairs</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>180 Days</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>Motor Cycle(Rs-50,000)</h>
                                        </div>
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <img src="~/Content/Bootstrap/images/Reward/Bike1.png">
                                        </div>
                                    
                                    </div>
                                    
                                    
                                    
                                    <div class="row page-header">
                                    
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>1000 Pairs</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>270 Days</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>Tata Neno</h>
                                        </div>
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <img src="~/Content/Bootstrap/images/Reward/neno1.png">
                                        </div>
                                    
                                    </div>
                                    
                                    
                                    
                                    <div class="row page-header">
                                    
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>2000 Pairs</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>360 Days</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>Alto</h>
                                        </div>
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <img src="~/Content/Bootstrap/images/Reward/alto1.png">
                                        </div>
                                    
                                    </div>
                                    
                                    
                                    
                                    
                                    <div class="row page-header">
                                    
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>4000 Pairs</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>540 Days</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>Maruti Suzuki Swift</h>
                                        </div>
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <img src="~/Content/Bootstrap/images/Reward/Suzuki_Swift-1.png">
                                        </div>
                                    
                                    </div>
                                    
                                    
                                    
                                    <div class="row page-header">
                                    
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>7500 Pairs</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>720 Days</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>Renauld Duster</h>
                                        </div>
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <img src="~/Content/Bootstrap/images/Reward/Duster1.png">
                                        </div>
                                    
                                    </div>
                                    
                                    
                                    
                                    <div class="row page-header">
                                    
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>15000 Pairs</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>1080 Days</h>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-3">
                                        <h>Home(25 Lac)</h>
                                        </div>
                                    	<div class="col-lg-3 col-md-3 col-xs-3">
                                        <img src="~/Content/Bootstrap/images/Reward/home.png">
                                        </div>
                                    
                                    </div>
                                    
                                    
                                    
                                    
								</div>
                                
								<!-- Tab Content 3 -->
								<div class="tab-pane fade" id="tab-3">
                                <p><img class="img-thumbnail image-text" style="float:right; width:500px;" alt="" src="~/Content/Bootstrap/images/Comm Plan.png" /></p>
									<p><h1><strong class="accent-color">Re Purchase Income</strong></h1>When You and your Team purchase Recent Mart Products then You Earn Re Purchase Income. You can earn continue for Life Time for upper 15th Level. Condition is every member purchase minimum Rs 500 value product every month. if sapose one month your purchase is 0 Rs and your 
                                    downline purchase 50000Rs valu products then this month your are not intitle for purchase income, for this month.   </p>
                                    <p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>&nbsp;</p>
                                    <p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>&nbsp;</p>
                                    <p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>&nbsp;</p>
                                    <p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>&nbsp;</p>
                                    <p>&nbsp;</p>
									<p>&nbsp;</p>
									<p>&nbsp;</p>
                                    
                                    
                                    
                                    
                                                                      
                                    </div>
                                <div class="tab-pane fade" id="tab-4">
									
									<p><h1><strong class="accent-color">Royalty Income</strong><h1> You Can earn <strong> Five Type of Royalty Income...</strong></p>


                                    <div class="panel panel-default">
                                    
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4">
                                            
                                            <i class="fa fa-desktop"></i> Developement Royalty
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="collapse-4" class="panel-collapse collapse in">
                                    <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:180px;" alt="" src="~/Content/Bootstrap/images/droyalty.jpg" />
                                    <p>You can get Developement Royalty income when any month your business value will be 75000 Rs by self and Team. then you are part of the Developement Royalty Income.</P>
                                        <p>Developement Royalty income is <strong>4% of Re-Purchase</strong> Business Value for this Month equeal devided in all Developement Royalty Members.</p>

                                </div>
                                </div>



                        <!--Second Royalty-->
                                     <div class="panel panel-default">
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4">
                                            
                                            <i class="fa fa-desktop"></i> Holiday Royalty
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="collapse-4" class="panel-collapse collapse in">
                                    <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:180px;" alt="" src="~/Content/Bootstrap/images/HOlidays.jpg" />
                                    <p>You can get Holiday Royalty income when any month your business value will be 150,000 Rs by self and Team. then you are part of the Holiday Royalty Income.</P>
                                        <p>Holiday Royalty income is <strong>3% of Re-Purchase</strong> Business Value for this Month equeal devided in all Holiday Royalty Members.</p>
                                    </div>
                                </div>

                                <!--Threerd Royalty-->
                                     <div class="panel panel-default">
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4">
                                            
                                            <i class="fa fa-desktop"></i> Car Royalty
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="collapse-4" class="panel-collapse collapse in">
                                    <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:180px;" alt="" src="~/Content/Bootstrap/images/car.png" />
                                    <p>You can get Car Royalty income when any month your business value will be 3,00000 Rs by self and Team. then you are part of the Car Royalty Income.</P>
                                        <p>Car Royalty income is <strong>2% of Re-Purchase</strong> Business Value for this Month equeal devided in all Car Royalty Members.</p>
                                    </div>
                                </div>

                                 <!--Threerd Royalty-->
                                     <div class="panel panel-default">
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4">
                                            
                                            <i class="fa fa-desktop"></i> Home Royalty
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="collapse-4" class="panel-collapse collapse in">
                                    <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:180px;" alt="" src="~/Content/Bootstrap/images/home.png" />
                                    <p>You can get Home Royalty income when any month your business value will be 5,00000 Rs by self and Team. then you are part of the Home Royalty Income.</P>
                                        <p>Home Royalty income is <strong>1% of Re-Purchase</strong> Business Value for this Month equeal devided in all Home Royalty Members.</p>
                                    </div>
                                </div>
 <!--Threerd Royalty-->
                                     <div class="panel panel-default">
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4">
                                            
                                            <i class="fa fa-desktop"></i> Chairman Cloub Royalty
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="collapse-4" class="panel-collapse collapse in">
                                    <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:180px;" alt="" src="~/Content/Bootstrap/images/Chairman.png" />
                                    <p>You can get Chairman Cloub Royalty income when any month your business value will be 5,00000 Rs by self and Team. then you are part of the Chairman Cloub Royalty Income.</P>
                                        <p>Chairman Cloub Royalty income is <strong>1% of Re-Purchase</strong> Business Value for this Month equeal devided in all Chairman Cloub Royalty Members.</p>
                                    </div>
                                </div>











                            </div>
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
								</div>
                                
                                
                                
							</div>
							<!-- End Tab Panels -->
							
						</div>
						
						<!-- Divider -->
						<div class="hr5" style="margin-top:45px;margin-bottom:45px;"></div>
						
						</div>
					<!-- End Page Content -->
					
					
					<!--Sidebar-->
					<div class="col-md-3 sidebar right-sidebar">
						
											 	
				    <!-- Video Widget -->
						<div class="widget">
							<h4>Video <span class="head-line"></span></h4>
							<div>
								<iframe src="http://player.vimeo.com/video/63322694?byline=0&amp;portrait=0&amp;badge=0" width="800" height="450" ></iframe>
						  </div>
						</div>
						
						<!-- Tags Widget -->
				  </div>
					<!--End sidebar-->
					
					
				</div>
			</div>
		</div>
		<!-- End Content -->