@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}*@


		<!-- Start Page Banner -->
		<div class="page-banner" style="padding:40px 0; background: url(~/Content/Bootstrap/images/chairman_banner.png) center #f9f9f9;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						
                        <img src="~/Content/Bootstrap/images/about-04.png">
                        <ul class="breadcrumbs">
							<li><a href="/Home/Index">Home</a></li>
							<li>Chairman Messege</li>
						</ul>
					</div>
					<!--<div class="col-md-6">
						<ul class="breadcrumbs">
							<li><a href="#">Home</a></li>
							<li>About Us</li>
						</ul>
					</div>-->
				</div>
                	
			</div>
		</div>
		<!-- End Page Banner -->
		
		
		

		<div id="content">
			<div class="container">
				<div class="row sidebar-page">

					<!-- Page Content -->
					<div class="col-md-12 page-content">

						<!-- Toggle -->
						<div class="panel-group">

							<!-- Start Toggle 1 -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h1 class="classic-title">
										Chairman Messege
										
									</h1>
								</div>
								<div id="collapse-1" class="panel-collapse collapse in">
									<div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:300px;" alt="" src="~/Content/Bootstrap/images/about-011.jpg" /> 
									<p><Strong>Dear Member,</strong></p>
<p><Strong>Let me welcome you to Recent Group Of Companies and a pioneer expatriate Network Marketing Business house located in Agra U.P.</strong></p>
									<p>With a team experienced and qualified Members and business professionals in our various business units, today, Recent Group, is fully geared to meet the demands of the global market place. </p>

									<p>We have successfully established ourselves in the varied business activities covering<strong> Healthcare &  FMCG Products, Network Marketing, Insurance Brocking, Real Estate, IT Products Dovelopement, General Trading.</strong> Please visit individual links/websites to get detailed information on these activities and services.</p>
									<p>All the business models operate autonomously sharing our primary culture of placing customer on top with an unswerving commitment to offer the best in value and quality to every customer, the group has worked assiduously to realize this vision. Today, five generations later, the legacy of principals and values of the founder continues to be the foundation for Recent.</p>
										<p>We have laid a strong foundation in the markets we operate and are committed to serve the local community with total integrity. Our local presence enable the local community and customers to have top quality service and for our MNC principals, partners and associates to have close access to the customers in the territory.</p>
									<p>Our group enjoys a high credit rating in the global business community and thus financially a strong company. We are proud of our achievements. I am confident that our group will see even greater growth and scale even greater heights.</p>
									<p>We extend a warm welcome to all those who share our vision of a future where development is sustainable and growth is achieved. Together, I am confident that we will provide the future energetic solutions.</p>
									<p>Please visit this site regularly for fresh updates on products and services and opportunities.

With best wishes</p>
<p><strong>Chairman</strong></p>
<p><strong>R.B.Singh</strong></p>
 </div>
								</div>
							</div>
							<!-- End Toggle 1 -->

							
				</div>
			