@{
    ViewBag.Title = "Indexs";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


        <section id="home">
            <!-- Carousel -->
            <div id="main-slide" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                    <li data-target="#main-slide" data-slide-to="1"></li>
                    <li data-target="#main-slide" data-slide-to="2"></li>
                     <li data-target="#main-slide" data-slide-to="3"></li>
                      <li data-target="#main-slide" data-slide-to="4"></li>
              </ol>
                <!--/ Indicators end-->

                <!-- Carousel inner -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive" src="~/Content/Bootstrap/images/slider/bg1.jpg" alt="slider">
          <div class="slider-content">
                            <div class="col-md-12 text-left">
                                <h2 class="animated2">
                        		  <span>Welcome to <strong>Recent Mart</strong></span>
                        	    </h2>
                                <h3 class="animated8">
                            		<span>Your ultimate Place of your business</span>
                            	</h3>
                                <!--<p class="animated4"><a href="#" class="slider btn btn-primary"><img src="images/join-now-button.png"></a>
                                </p>-->
            </div>
                      </div>
                    </div>
                    <!--/ Carousel item end -->
                    
                    
                    <div class="item">
                        <img class="img-responsive" src="~/Content/Bootstrap/images/slider/bg2.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated4">
                                <span><strong>Recent Mart</strong> for the highest</span>
                            </h2>
                                <h3 class="animated5">
                            	<span>The Key of your Success</span>
                            </h3>	
                                @*<p class="animated6"><a href="#" class="slider btn btn-primary">Buy Now</a>*@
                                </p>
                            </div>
                        </div>
                  </div>
                    <!--/ Carousel item end -->
                    <div class="item">
                      <img class="img-responsive" src="~/Content/Bootstrap/images/slider/bg5.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated4">
                                <span><strong>Recent Mart</strong> for the highest</span>
                            </h2>
                                <h3 class="animated5">
                            	<span>The Key of your Success</span>
                            </h3>	
                                @*<p class="animated6"><a href="#" class="slider btn btn-primary">Buy Now</a>*@
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/ Carousel item end -->
                    <div class="item">
                        <img class="img-responsive" src="~/Content/Bootstrap/images/slider/bg4.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated4">
                                <span><strong>Recent Mart</strong> for the highest</span>
                            </h2>
                                <h3 class="animated5">
                            	<span>The Key of your Success</span>
                            </h3>	
                                @*<p class="animated6"><a href="#" class="slider btn btn-primary">Buy Now</a>*@
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/ Carousel item end -->

                    <div class="item">
                        <img class="img-responsive" src="~/Content/Bootstrap/images/slider/bg3.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated7 white">
                                <span><strong>The way of Success</strong></span>
                            </h2>
                                <h3 class="animated8 white">
                            	<span>Why you are waiting</span>
                            </h3>	
                                <div class="">
                                   <!-- <a class="animated4 slider btn btn-primary btn-min-block" href="#">Get Now</a><a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a>-->
                                </div>
                            </div>
                        </div>
                  </div>
                    <!--/ Carousel item end -->
                </div>
                <!-- Carousel inner end-->

                <!-- Controls -->
                <a class="left carousel-control" href="#main-slide" data-slide="prev">
                    <span><i class="fa fa-angle-left"></i></span>
                </a>
                <a class="right carousel-control" href="#main-slide" data-slide="next">
                    <span><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
            <!-- /carousel -->
        </section>
        <!-- End Home Page Slider -->
        <h2 class="classic-title text-center"></h2>
         
  
<div class="container">
                <div class="row">

                    <!-- Start Service Icon 1 -->
                    <div class="col-md-4 col-sm-4 service-box service-icon-left-more">
                        <div class="service-icon">
                            <img alt="" src="~/Content/Bootstrap/images/whoweare.png" />
                        </div>
                        <div class="service-content">
                            <h3>Who we are</h3>
                            <p>We have successfully established ourselves in the varied business activities covering<strong> Healthcare &  FMCG Products, Network Marketing, Insurance Brocking, Real Estate, IT Products Dovelopement, General Trading.
                            </strong> Please visit individual links/websites to get detailed information on these activities and services...........</p>
                            <h4><a href="/Home/ChairmanMsg">Read More.....</a></h4>
                        </div>
                    </div>
                    <!-- End Service Icon 1 -->

                      <!-- Start Service Icon 2 -->
                      <div class="col-md-8 col-sm-4 service-box service-icon-left-more">
                       <div class="service-icon"  />>
                         <img alt="" src="~/Content/Bootstrap/images/a.jpg" />
                       </div>
                       <div class="service-content">
                        <h3>Chairman's Message</h3>
                        <p><Strong>Dear Member,</strong></p>
<p><Strong>Let me welcome you to Recent Group Of Companies and a pioneer expatriate Network Marketing Business house located in Agra U.P.</strong></p><p>With a team experienced and qualified Members and business professionals in our various business units, today, Recent Group, is fully geared to meet the demands of the global market place............ </p><h4><a href="/Home/ChairmanMsg">Read More......</a></h4>
                      </div>
                    </div>
                    <!-- End Service Icon 2 -->

                    <!-- Start Service Icon 3 -->
                   <!-- <div class="col-md-4 col-sm-4 service-box service-icon-left-more">
                        <div class="service-icon">
                            <i class="fa fa-rocket fa-4x"></i>
                        </div>
                        <div class="service-content">
                        <h4>Web Hosting</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                    </div>-->
                    <!-- End Service Icon 3 -->

                </div><!-- .row -->
            </div><!-- .container -->
            <!-- End Services Section -->
            

            <!-- Divider -->
            <div class="hr1 margin-60"></div>
            
            
            <!-- Start News & Skill Section -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span><h3>Latest News</h3></span></h4>
                        
                        <!-- Start Latest Posts -->
                        <div class="latest-posts-classic">
    
                            <!-- Post 1 -->
                            <div class="post-row">
                                <div class="left-meta-post">
                                    <div class="post-date"><span class="day">18</span><span class="month">Feb</span></div>
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <h3 class="post-title"><a href="#">Offer For Purchase</a></h3>
                                <div class="post-content">
                                    <p>Hot Offer for customer,Purchase 2000 Rs Products Get 99 Rs Flate Discount. <a class="read-more" href="#">Read More...</a></p>
                                </div>
                            </div>
  
                            <!-- Post 2 -->
                            <div class="post-row">
                                <div class="left-meta-post">
                                    <div class="post-date"><span class="day">10</span><span class="month">Feb</span></div>
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <h3 class="post-title"><a href="#">New Member Joining Started</a></h3>
                                <div class="post-content">
                                    <p>New Joiners join as a Team Meamber. You Purchase 1500 Rs value Joining kit then You join my Network. And Get Many type of income like Team Bonus Income,Re-Purchase Income,Royalty Incom etc. <a class="read-more" href="/Home/BusinessPlan">Read More...</a></p>
                                </div>
                            </div>

                        </div>
                        <!-- End Latest Posts -->
                    </div><!-- .col-md-6 -->
                    
                    <div class="col-md-6">
                        
                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span><h3>Top Achivers</h3></span></h4>
  
                      <div class="widget widget-popular-posts">
                           
                            <ul>
                                <li>
                                    <div class="widget-thumb">
                                        <a><img src="~/Content/Bootstrap/images/avatar.png" styal alt="" /></a>
                                    </div>
                                    <div class="widget-content">
                                        <h5>Rahul, City: Manpuri</h5>
                                        <span>Jul 29 2013</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="widget-thumb">
                                        <a><img  src="~/Content/Bootstrap/images/author.png" alt="" /></a>
                                    </div>
                                    <div class="widget-content">
                                        <h5>Shobhit Singh City: Manpurijlkjkljjljkjjfjfjfjfjhfjhjf turytrxwerwzre jhjgjggh</h5>
                                        <span>Jul 29 2013</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="widget-thumb">
                                        <a><img  src="~/Content/Bootstrap/images/avatar.png" alt="" /></a>
                                    </div>
                                    <div class="widget-content">
                                        <h5>Sujeet Singh</h5>
                                        <span>Feb 10 2015</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                       
                       

                
                        
                    

                    </div><!-- .col-md-6 -->
                </div><!-- .row -->
            
            
            
            <!-- Divider 
            <div class="hr1 margin-60"></div>
            -->



