@{
    ViewBag.Title = "Indexs";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


        <section id="home">
            <!-- Carousel -->
            <div id="main-slide" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                    <li data-target="#main-slide" data-slide-to="1"></li>
                    <li data-target="#main-slide" data-slide-to="2"></li>
                     <li data-target="#main-slide" data-slide-to="3"></li>
                      <li data-target="#main-slide" data-slide-to="4"></li>
              </ol>
                <!--/ Indicators end-->

                <!-- Carousel inner -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive" src="~/Content/Bootstrap/images/slider/bg1.png" alt="slider">
          <div class="slider-content">
                            <div class="col-md-12 text-left">
                                <h2 class="animated2">
                        		  <span>Welcome to <strong>Bright Future Mart</strong></span>
                        	    </h2>
                                <h3 class="animated8">
                            		<span>Your ultimate Place of your business</span>
                            	</h3>
                                <!--<p class="animated4"><a href="#" class="slider btn btn-primary"><img src="images/join-now-button.png"></a>
                                </p>-->
            </div>
                      </div>
                    </div>
                    <!--/ Carousel item end -->
                    
                    
                    <div class="item">
                        <img class="img-responsive" src="~/Content/Bootstrap/images/slider/bg2.png" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated4">
                                <span><strong>Bright Future Mart</strong> for the highest</span>
                            </h2>
                                <h3 class="animated5">
                            	<span>The Key of your Success</span>
                            </h3>	
                                @*<p class="animated6"><a href="#" class="slider btn btn-primary">Buy Now</a>*@
                                </p>
                            </div>
                        </div>
                  </div>
                    <!--/ Carousel item end -->
                    <div class="item">
                      <img class="img-responsive" src="~/Content/Bootstrap/images/slider/bg3.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated4">
                                <span><strong>Bright Future Mart</strong> for the highest</span>
                            </h2>
                                <h3 class="animated5">
                            	<span>The Key of your Success</span>
                            </h3>	
                                @*<p class="animated6"><a href="#" class="slider btn btn-primary">Buy Now</a>*@
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/ Carousel item end -->
                    <div class="item">
                        <img class="img-responsive" src="~/Content/Bootstrap/images/slider/bg4.png" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated4">
                                <span><strong>Bright Future Mart</strong> for the highest</span>
                            </h2>
                                <h3 class="animated5">
                            	<span>The Key of your Success</span>
                            </h3>	
                                @*<p class="animated6"><a href="#" class="slider btn btn-primary">Buy Now</a>*@
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/ Carousel item end -->

                    <div class="item">
                        <img class="img-responsive" src="~/Content/Bootstrap/images/slider/bg5.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated7 white">
                                <span><strong>The way of Success</strong></span>
                            </h2>
                                <h3 class="animated8 white">
                            	<span>Why you are waiting</span>
                            </h3>	
                                <div class="">
                                   <!-- <a class="animated4 slider btn btn-primary btn-min-block" href="#">Get Now</a><a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a>-->
                                </div>
                            </div>
                        </div>
                  </div>
                    <!--/ Carousel item end -->
                </div>
                <!-- Carousel inner end-->

                <!-- Controls -->
                <a class="left carousel-control" href="#main-slide" data-slide="prev">
                    <span><i class="fa fa-angle-left"></i></span>
                </a>
                <a class="right carousel-control" href="#main-slide" data-slide="next">
                    <span><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
            <!-- /carousel -->
        </section>
        <!-- End Home Page Slider -->
        
         
  
<div class="container">
               @* <div class="row">

                    <!-- Start Service Icon 1 -->
                    <div class="col-md-4 col-sm-4 service-box service-icon-left-more">
                        <div class="service-icon">
                            <img alt="" src="~/Content/Bootstrap/images/whoweare.png" />
                        </div>
                        <div class="service-content">
                            <h3>Who we are</h3>
                            <p>We have successfully established ourselves in the varied business activities covering<strong> Healthcare &  FMCG Products, Network Marketing, Insurance Brocking, Real Estate, IT Products Dovelopement, General Trading.
                            </strong> Please visit individual links/websites to get detailed information on these activities and services...........</p>
                            <h4><a href="/Home/ChairmanMsg">Read More.....</a></h4>
                        </div>
                    </div>
                    <!-- End Service Icon 1 -->

                      <!-- Start Service Icon 2 -->
                      <div class="col-md-8 col-sm-4 service-box service-icon-left-more">
                       <div class="service-icon"  />>
                         <img alt="" src="~/Content/Bootstrap/images/a.jpg" />
                       </div>
                       <div class="service-content">
                        <h3>Chairman's Message</h3>
                        <p><Strong>Dear Member,</strong></p>
<p><Strong>Let me welcome you to Bright Future Group Of Companies and a pioneer expatriate Network Marketing Business house located in Agra U.P.</strong></p><p>With a team experienced and qualified Members and business professionals in our various business units, today, Bright Future Group, is fully geared to meet the demands of the global market place............ </p><h4><a href="/Home/ChairmanMsg">Read More......</a></h4>
                      </div>
                    </div>*@
                    <!-- End Service Icon 2 -->

                    <!-- Start Service Icon 3 -->
                   <!-- <div class="col-md-4 col-sm-4 service-box service-icon-left-more">
                        <div class="service-icon">
                            <i class="fa fa-rocket fa-4x"></i>
                        </div>
                        <div class="service-content">
                        <h4>Web Hosting</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                    </div>-->
                    <!-- End Service Icon 3 -->

                </div><!-- .row -->
            </div><!-- .container -->
            <!-- End Services Section -->
            

            <!-- Divider -->
            <div class="hr1 margin-60"></div>
            
            
            <!-- Start News & Skill Section -->
            <div class="container" >

                <div class="row" id="divcolour" >
                        
                    <div class="col-md-3" id="divbox">
                        <!-- Classic Heading -->
                        <h3 class="classic-title"><span><strong><em>Latest News</em></strong></span></h3>
                        
                        <!-- Start Latest Posts -->
                        <div class="latest-posts-classic">
                        <marquee direction="up">
                            <!-- Post 1 -->
                            <div class="post-row">
                                <div class="left-meta-post">
                                    <div class="post-date"><span class="day">18</span><span class="month">Feb</span></div>
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <h3 class="post-title"><a href="#">Offer For Purchase</a></h3>
                                <div class="post-content">
                                    <p>Hot Offer for customer,Purchase 2000 Rs Products Get 99 Rs Flate Discount. <a class="read-more" href="#">Read More...</a></p>
                                </div>
                            </div>
                        
                            <!-- Post 2 -->
                            <div class="post-row">
                                <div class="left-meta-post">
                                    <div class="post-date"><span class="day">20</span><span class="month">March</span></div>
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                </div>
                                <h3 class="post-title"><a href="#">New Member Joining Started</a></h3>
                                <div class="post-content">
                                    <p>New Joiners join as a Team Meamber. You Purchase 3600 Rs value Joining kit then You join my Network. And Get Many type of income like Team Bonus Income,Re-Purchase Income,Royalty Incom etc. <a class="read-more" href="/Home/BusinessPlan">Read More...</a></p>
                                </div>
                            </div>
                           </marquee>

                        </div>
                       
                        
                    </div>
                    <div class="col-md-6" id="divbox">

                        <div class="panel-body classic-title">
									<p><h3><strong><em>About Me</em></strong></h3><strong>Bright Future</strong> Is a Product Base Company. It aims to bring happy and prosperous life to millions of people by forming meaningful ,long lasting and mutually rewarding business association. It has built up its base through distinguished quality products and income plans the quality of which is being widely honored and acclaimed. It has a unique business solution for all class of people to earn unlimited income.</P>
									<P>Congratulations for having taken a right decision in your life. You are joining the Company which is going to create HISTORY IN THE NETWORK MARKETING BUSINESS. We have brought about a LOW-COST CONCEPT that has the power to radically change your LIFE STYLE. Your search for FAME, MONEY, HAPPINESS and SUCCESS has ended the moment you took the decision to be part of our ever growing Bright Future Mart family.
									</P>


 </div>
                    </div>
                    <div class="col-md-3" id="divbox" >
                        
                        <!-- Classic Heading -->
                        <h3 class="classic-title"><span><strong><em>Top Achivers</em></strong></span></h3>
  
                       <marquee direction="up" >
                              
                            
                                        
                                    <ul id ="Topachivers" />
                                    
                                        <!--<div class="widget-content" id="Topachivers">
                                               <h3><strong>{{x.name}}</strong></h3>
                                                <span>Jun 12 2015</span>
                                            </div>-->
                                           
                               
                               
                        </marquee>
                       

                
                        
                    

                    </div><!-- .col-md-6 -->
                </div><!-- .row -->
            
            </div>
            
            <!-- Divider 
            <div class="hr1 margin-60"></div>
            -->



