@{
    ViewBag.Title = "Indexs";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


<section id="home">
    <!-- Carousel -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#main-slide" data-slide-to="0" class="active"></li>
            <li data-target="#main-slide" data-slide-to="1"></li>
            <li data-target="#main-slide" data-slide-to="2"></li>
            <li data-target="#main-slide" data-slide-to="3"></li>
            <li data-target="#main-slide" data-slide-to="4"></li>
        </ol>
        <!--/ Indicators end-->
        <!-- Carousel inner -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="../../Content/Bootstrap/images/slider/bg1.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-left">
                        <h2 class="animated2">
                            <span>Welcome to <strong>Bright Future Mart</strong></span>
                        </h2>
                        <h3 class="animated8">
                            <span>Your ultimate Place of your business</span>
                        </h3>
                        <!--<p class="animated4"><a href="#" class="slider btn btn-primary"><img src="images/join-now-button.png"></a>
                        </p>-->
                    </div>
                </div>
            </div>
            <!--/ Carousel item end -->


            <div class="item">
                <img class="img-responsive" src="../../Content/Bootstrap/images/slider/bg2.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated4">
                            <span><strong>Bright Future Mart</strong> for the highest</span>
                        </h2>
                        <h3 class="animated5">
                            <span>The Key of your Success</span>
                        </h3>
                        @*<p class="animated6">
                            <a href="#" class="slider btn btn-primary">Buy Now</a>*@
                        </p>
                    </div>
                </div>
            </div>
            <!--/ Carousel item end -->
            <div class="item">
                <img class="img-responsive" src="../../Content/Bootstrap/images/slider/bg5.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated4">
                            <span><strong>Bright Future Mart</strong> for the highest</span>
                        </h2>
                        <h3 class="animated5">
                            <span>The Key of your Success</span>
                        </h3>
                        @*<p class="animated6">
                            <a href="#" class="slider btn btn-primary">Buy Now</a>*@
                        </p>
                    </div>
                </div>
            </div>
            <!--/ Carousel item end -->
            <div class="item">
                <img class="img-responsive" src="../../Content/Bootstrap/images/slider/bg4.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated4">
                            <span><strong>Bright Future Mart</strong> for the highest</span>
                        </h2>
                        <h3 class="animated5">
                            <span>The Key of your Success</span>
                        </h3>
                        @*<p class="animated6">
                            <a href="#" class="slider btn btn-primary">Buy Now</a>*@
                        </p>
                    </div>
                </div>
            </div>
            <!--/ Carousel item end -->

            <div class="item">
                <img class="img-responsive" src="../../Content/Bootstrap/images/slider/bg3.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated7 white">
                            <span><strong>The way of Success</strong></span>
                        </h2>
                        <h3 class="animated8 white">
                            <span>Why you are waiting</span>
                        </h3>
                        <div class="">
                            <!-- <a class="animated4 slider btn btn-primary btn-min-block" href="#">Get Now</a><a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Carousel item end -->
        </div>
        <!-- Carousel inner end-->
        <!-- Controls -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
        </a>
    </div>
    <!-- /carousel -->
</section>
<!-- End Home Page Slider -->
<h2 class="classic-title text-center"></h2>





<!-- Start Content -->
<div class="container">
    <div class="row ricing-tables">

        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="pricing-table">
                <div class="plan-name">
                    <h3><strong>Top Sponsores</strong></h3>
                </div>

                jkhkhjjk
                jgjhkjhk</br>
                jgjhkjhk</br>
                jgjhkjhk</br>
                jgjhkjhk</br>
                jgjhkjhk</br>
                jgjhkjhk</br>
                jgjhkjhk</br>
                jhjkhjk
                bjhkjkhjkh


            </div>
        </div>





        <!--Secont Content-->
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="pricing-table ">
                <div class="plan-name text-left">
                    <h3><strong>WELCOME Bright Future MART</strong></h3>
                </div><div class="text-left">
                    <p>Congratulations for having taken a right decision in your life. You are joining the Company which is going to create HISTORY IN THE NETWORK MARKETING BUSINESS. We have brought about a LOW-COST CONCEPT that has the power to radically change your LIFE STYLE. Your search for FAME, MONEY, HAPPINESS and SUCCESS has ended the moment you took the decision to be part of our ever growing <strong>Bright Future Mart</strong> family.....................</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                </div>
                <div class="plan-name text-right">
                    <a href="about.html" class="btn-system btn-small">Read More</a>
                </div>
            </div>
        </div>

        <!-- End Second Content-->
        <!--Secont Content-->
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="pricing-table">
                <div class="plan-name">
                    <h3><strong>Top Sponsores</strong></h3>
                </div>jkhkhjjk
                jgjhkjhk</br>
                jgjhkjhk</br>
                jgjhkjhk</br>
                jgjhkjhk</br>
                jgjhkjhk</br>
                jgjhkjhk</br>
                jgjhkjhk</br>
                jhjkhjk
                bjhkjkhjkh


            </div>
        </div>

        <!-- End Second Content-->




    </div>
</div>
<!--End Content -->
<!-- Start Products Part -->
<div id="content">
    <div class="container">
        <div class="page-content">


            <!--Start Bright Future Projects-->
            <div class="Bright Future-projects">
                <h4 class="title"><span>Products</span></h4>
                <div class="projects-carousel touch-carousel">

                    <!-- Start Project Item -->
                    <div class="portfolio-item item">
                        <div class="portfolio-border">
                            <!-- Start Project Thumb -->
                            <div class="portfolio-thumb">
                                <a class="lightbox" title="This is an image title" href="../../Content/Bootstrap/images/portfolio/1.jpg">
                                    <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                    <img alt="" src="../../Content/Bootstrap/images/portfolio/1.jpg" />
                                </a>
                            </div>
                            <!-- End Project Thumb -->
                            <!-- Start Project Details -->
                            <div class="portfolio-details">
                                <a href="/Products/Productpage">
                                    <h4>Lorem Ipsum Dolor</h4>
                                    <span>Logo</span>
                                    <span>Animation</span>
                                </a>
                                <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>2</span></a>
                            </div>
                            <!-- End Project Details -->
                        </div>
                    </div>
                    <!-- End Project Item -->
                    <!-- Start Project Item -->
                    <div class="portfolio-item item">
                        <div class="portfolio-border">
                            <!-- Start Project Thumb -->
                            <div class="portfolio-thumb">
                                <a class="lightbox" title="This is an image title" href="../../Content/Bootstrap/images/portfolio/2.jpg">
                                    <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                    <img alt="" src="../../Content/Bootstrap/images/portfolio/3.jpg" />
                                </a>
                            </div>
                            <!-- End Project Thumb -->
                            <!-- Start Project Details -->
                            <div class="portfolio-details">
                                <a href="/Products/Productpage">
                                    <h4>Lorem Ipsum Dolor</h4>
                                    <span>Logo</span>
                                    <span>Animation</span>
                                </a>
                                <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>2</span></a>
                            </div>
                            <!-- End Project Details -->
                        </div>
                    </div>
                    <!-- End Project Item -->
                    <!-- Start Project Item -->
                    <div class="portfolio-item item">
                        <div class="portfolio-border">
                            <div class="portfolio-thumb">
                                <a href="/Products/Productpage">
                                    <div class="thumb-overlay"><i class="fa fa-link"></i></div>
                                    <img alt="" src="../../Content/Bootstrap/images/portfolio/1.jpg" />
                                </a>
                            </div>
                            <!-- End Project Thumb -->
                            <!-- Start Project Details -->
                            <div class="portfolio-details">
                                <a href="/Products/Productpage">
                                    <h4>Lorem Ipsum Dolor</h4>
                                    <span>Drawing</span>
                                </a>
                                <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>8</span></a>
                            </div>
                            <!-- End Project Details -->
                        </div>
                    </div>
                    <!-- End Project Item -->
                    <!-- Start Project Item -->
                    <div class="portfolio-item item">
                        <div class="portfolio-border">
                            <!-- Start Project Thumb -->
                            <div class="portfolio-thumb">
                                <a href="/Products/Productpage">
                                    <div class="thumb-overlay"><i class="fa fa-link"></i></div>
                                    <img alt="" src="../../Content/Bootstrap/images/portfolio/3.jpg" />
                                </a>
                            </div>
                            <!-- End Project Thumb -->
                            <!-- Start Project Details -->
                            <div class="portfolio-details">
                                <a href="/Products/Productpage">
                                    <h4>Lorem Ipsum Dolor</h4>
                                    <span>Website</span>
                                    <span>Ilustration</span>
                                </a>
                                <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>12</span></a>
                            </div>
                            <!-- End Project Details -->
                        </div>
                    </div>
                    <!-- End Project Item -->
                    <!-- Start Project Item -->
                    <div class="portfolio-item item">
                        <div class="portfolio-border">
                            <!-- Start Project Thumb -->
                            <div class="portfolio-thumb">
                                <a class="lightbox" title="This is an image title" href="../../Content/Bootstrap/images/portfolio/3.jpg">
                                    <div class="thumb-overlay"><i class="fa fa-link"></i></div>
                                    <img alt="" src="../../Content/Bootstrap/images/portfolio/1.jpg" />
                                </a>
                            </div>
                            <!-- End Project Thumb -->
                            <!-- Start Project Details -->
                            <div class="portfolio-details">
                                <a href="/Products/Productpage">
                                    <h4>Lorem Ipsum Dolor</h4>
                                    <span>Logo</span>
                                    <span>Drawing</span>
                                </a>
                                <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>5</span></a>
                            </div>
                            <!-- End Project Details -->
                        </div>
                    </div>
                    <!-- End Project Item -->
                    <!-- Start Project Item -->
                    <div class="portfolio-item item">
                        <div class="portfolio-border">
                            <!-- Start Project Thumb -->
                            <div class="portfolio-thumb">
                                <a href="/Products/Productpage">
                                    <div class="thumb-overlay"><i class="fa fa-link"></i></div>
                                    <img alt="" src="../../Content/Bootstrap/images/portfolio/4.jpg" />
                                </a>
                            </div>
                            <!-- End Project Thumb -->
                            <!-- Start Project Details -->
                            <div class="portfolio-details">
                                <a href="/Products/Productpage">
                                    <h4>Lorem Ipsum Dolor</h4>
                                    <span>Animation</span>
                                </a>
                                <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>9</span></a>
                            </div>
                            <!-- End Project Details -->
                        </div>
                    </div>
                    <!-- End Project Item -->
                    <!-- Start Project Item -->
                    <div class="portfolio-item item">
                        <div class="portfolio-border">
                            <!-- Start Project Thumb -->
                            <div class="portfolio-thumb">
                                <a class="lightbox" title="This is an image title" href="../../Content/Bootstrap/images/portfolio/2.jpg">
                                    <div class="thumb-overlay"><i class="fa fa-link"></i></div>
                                    <img alt="" src="../../Content/Bootstrap/images/portfolio/2.jpg" />
                                </a>
                            </div>
                            <!-- End Project Thumb -->
                            <!-- Start Project Details -->
                            <div class="portfolio-details">
                                <a href="/Products/Productpage">
                                    <h4>Lorem Ipsum Dolor</h4>
                                    <span>Website</span>
                                </a>
                                <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>1</span></a>
                            </div>
                            <!-- End Project Details -->
                        </div>
                    </div>
                    <!-- End Project Item -->
                    <!-- Start Project Item -->
                    <div class="portfolio-item item">
                        <div class="portfolio-border">
                            <!-- Start Project Thumb -->
                            <div class="portfolio-thumb">
                                <a href="/Products/Productpage">
                                    <div class="thumb-overlay"><i class="fa fa-link"></i></div>
                                    <img alt="" src="../../Content/Bootstrap/images/portfolio/1.jpg" />
                                </a>
                            </div>
                            <!-- End Project Thumb -->
                            <!-- Start Project Details -->
                            <div class="portfolio-details">
                                <a href="/Products/Productpage">
                                    <h4>Lorem Ipsum Dolor</h4>
                                    <span>Ilustration</span>
                                    <span>Animation</span>
                                </a>
                                <a href="/Products/Productpage" class="like-link"><i class="fa fa-heart"></i><span>6</span></a>
                            </div>
                            <!-- End Project Details -->
                        </div>
                    </div>
                    <!-- End Project Item -->

                </div>
            </div>
            <!--End Bright Future Projects-->
            <!-- Divider -->
            <!--Start Bright Future Projects-->
            <div class="Bright Future-projects"></div>
            <!--End Bright Future Projects-->


        </div>
    </div>
</div>