
<div id="content">
    <div class="container">        
        
            <div class="row pricing-tables">
                <div class="col-md-12 col-sm-12">
                    <div class="pricing-table  highlight-plan">

                        <!--<div class="plan-list" class="plan-name">-->
                        <div class="plan-name">
                            <div class="row">
                                <div class="col-md-3"><h4>Name:- {{ CurrentUser.Name }}</h4></div>
                                <div class="col-md-3"><h4>Status:- {{CurrentUser.AgentInfo.Status == 2 ? "Active" : "Pending"}}</h4></div>
                                <div class="col-md-3"><h4>Position:-  {{ CurrentUser.AgentInfo.Position == 1 ? "Left" : "Right" }}</h4></div>
                                <div class="col-md-3"><h4> Sponsor Code:- {{ CurrentUser.AgentInfo.SponsorCode == null ? "At Company Level" : CurrentUser.AgentInfo.SponsorCode }}</h4></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><h4>Total Pair :- {{ AgentDetails.TotalPair }}</h4></div>
                                <div class="col-md-4"><h4>Total Left:- {{ AgentDetails.TotalLeft }} </h4><h4>Total Right:- {{ AgentDetails.TotalRight }} </h4></div>
                                <div class="col-md-"><h4>Carry Left:- {{ AgentDetails.CarryLeft }} </h4><h4>Carry Right:- {{ AgentDetails.CarryRight }} </h4></div>
                               
                            </div>
                             </div>

                        <div class="plan-name">
                            <h3>My Binary Tree</h3>
                        </div>
                            </div>

                   

                            </div>
                            <div class="plan-price" >

                                <div id="Bchart" class="outer">
                                    <div class="inner">

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
   