<div id="content">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="panel-group">

                    <!-- Start Toggle 1 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                                    <i class="fa fa-angle-up control-icon"></i>
                                    <i class="fa fa-desktop"></i> My Details
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <img class="img-thumbnail image-text" style="float:left; width:180px;" alt="" src="Content/Bootstrap/images/author.png">
                                <!--<strong class="accent-color">Lorem Ipsum</strong>-->

                                <div class="plan-list" >
                                    <ul>
                                        <li><strong>Name</strong> {{ CurrentUser.Name }}</li>
                                        <li><strong>Status</strong> {{CurrentUser.AgentInfo.Status == 2 ? "Active" : "Pending"}}</li>
                                        <li><strong>Position</strong> {{ CurrentUser.AgentInfo.Position == 1 ? "Left" : "Right" }}</li>
                                        <li><strong>Sponsor Code</strong> {{ CurrentUser.AgentInfo.SponsorCode == null ? "At Company Level" : CurrentUser.AgentInfo.SponsorCode }}</li>
                                        <li><strong>Total Pair</strong> {{ AgentDetails.TotalPair }}</li>
                                        <li><strong>Total Left</strong> {{ AgentDetails.TotalLeft }}   <strong>Total Right</strong> {{ AgentDetails.TotalRight }}</li>
                                        <li><strong>Carry Left</strong> {{ AgentDetails.CarryLeft }}   <strong>Carry Right</strong> {{ AgentDetails.CarryRight }}</li>
                                    </ul>
                                </div>

                               
                            </div>
                        </div>
                    </div>
                    <!-- End Toggle 1 -->
                </div>

            </div><!-- .row -->
        </div>
    </div>
</div>