
<div id="content">
    <div class="container">        
        
            <div class="row pricing-tables">
                <div class="col-md-12 col-sm-12">
                    <div class="pricing-table  highlight-plan">
                        <div class="plan-name">
                            <h3>My Binary Tree</h3>
                        </div> 
                        <div >                            
                            <!--<div class="plan-name" style="background-color:#FA5858 ">
                                <ul>
                                    <li><strong>Name</strong> </li>
                                     <li><strong>Status</strong>{{ FixagentstatusName }}</li>
                                    <li><strong>Position</strong> {{ Fixagentposition }}</li>
                                    <li><strong>Sponsor Code</strong> {{ Fixagentparent }}</li>
                                    <li><strong>Total Pair</strong> {{ AgentDetails.TotalPair }}</li> 
                                    <li><strong>Total Left</strong> {{ AgentDetails.TotalLeft }}   <strong>Total Right</strong> {{ AgentDetails.TotalRight }}</li>
                                    <li><strong>Carry Left</strong> {{ AgentDetails.CarryLeft }}   <strong>Carry Right</strong> {{ AgentDetails.CarryRight }}</li> 
                                </ul>
                            </div>--> 

                            <!--<div class="plan-list" ng-controller="agentDetailsCtrl">
                                <ul>
                                    <li><strong>Name</strong> {{ CurrentUser.Name }}</li>
                                    <li><strong>Status</strong> {{CurrentUser.AgentInfo.Status == 2 ? "Active" : "Pending"}}</li>
                                    <li><strong>Position</strong> {{ CurrentUser.AgentInfo.Position == 1 ? "Left" : "Right" }}</li>
                                    <li><strong>Sponsor Code</strong> {{ CurrentUser.AgentInfo.SponsorCode == null ? "At Company Level" : CurrentUser.AgentInfo.SponsorCode }}</li>
                                    <li><strong>Total Pair</strong> {{ AgentDetails.TotalPair }}</li>
                                    <li><strong>Total Left</strong> {{ AgentDetails.TotalLeft }}   <strong>Total Right</strong> {{ AgentDetails.TotalRight }}</li>
                                    <li><strong>Carry Left</strong> {{ AgentDetails.CarryLeft }}   <strong>Carry Right</strong> {{ AgentDetails.CarryRight }}</li>
                                </ul>
                            </div>-->
                        </div>                                               
                        <div class="plan-price">
                            <div id="Bchart" class="outer">
                                <div class="inner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>