
<div id="content">
    <div class="container">
        
            <div class="row pricing-tables">
                <div class="col-md-12 col-sm-12">
                    <div class="pricing-table  highlight-plan">
                        <div class="plan-name">
                            <h3>My Binary Tree</h3>
                        </div>
                        <div class="plan-price">
                            <div id="Bchart" class="outer">
                                <div class="inner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>