<!--<div class="page-banner" style="padding:40px 0; background: url(images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>About Us</h2>
                <p>We Are Professional</p>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li><a href="#">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>-->

<!-- Start News & Skill Section -->


<div id="content">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-md-7">

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Hello <strong>{{ CurrentUser.Name }}</strong>! Welcome To Recent Mart.</span></h4>

                    <!-- Some Text -->
                    <p>Congratulations <strong>{{ CurrentUser.Name }}</strong> you having taken a right decision in your life. You are joining the Company which is going to create HISTORY IN THE NETWORK MARKETING BUSINESS. We have brought about a LOW-COST CONCEPT that has the power to radically change your LIFE STYLE. Your search for FAME, MONEY, HAPPINESS and SUCCESS has ended the moment you took the decision to be part of our ever growing Recent Mart family.</p>
                    <p>Recent Mart is a Product Base Company. It aims to bring happy and prosperous life to millions of people by forming meaningful ,long lasting and mutually rewarding business association. It has built up its base through distinguished quality products and income plans the quality of which is being widely honored and acclaimed. It has a unique business solution for all class of people to earn unlimited income.</p>

                </div>

                <div class="col-md-5">

                    <!-- Start Touch Slider -->
                    <div class="touch-slider owl-carousel owl-theme" data-slider-navigation="true" data-slider-pagination="true" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer autoHeight" style="height: 244px;">
                        <div class="owl-wrapper" style="width: 2748px; left: -458px; display: block;">
                            <div class="owl-item" style="width: 458px;"><div class="item"><img alt="" src="Content/Bootstrap/images/wel-01.jpg" ></div></div>
                            <div class="owl-item" style="width: 458px;"><div class="item"><img alt="" src="Content/Bootstrap/images/wel-02.jpg"></div></div>
                            <div class="owl-item" style="width: 458px;"><div class="item"><img alt="" src="Content/Bootstrap/images/wel-03.jpg"></div></div></div></div>


                        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div>
                    </div>
                    <!-- End Touch Slider -->

                </div>

            </div>

        </div>
    </div>
</div>