<ul class="nav navbar-nav navbar-left">
    <!--<li>
        @Html.ActionLink("Home", "Index", "Home", null, new { target = "_self" })
    </li>-->

    <li>
        <a href="/#/">Website Content</a>
        <ul class="dropdown">
            <li>
                <a href="auth/Topacivar/entry">Tope Achivers</a>
                 <a href="auth/News/Entry">News</a>
            </li>
          
        </ul>
    </li>

    <li>
        <a href="/#/">Account</a>
        <ul class="dropdown">
            <li>
                <a href="auth/payout/list">Payouts</a>
            </li>
            <li>
                <a href="auth/Manage/Agency">Manage Agency</a>
            </li>
           
        </ul>
    </li>
    

    <!--<li>
        @Html.ActionLink("Contact Us", "Contactus", "Home", null, new { target = "_self" })

    </li>-->
</ul>
@Html.Partial("_LoginPartial")