<ul class="nav navbar-nav navbar-left">
    <li>
        @Html.ActionLink("Home", "Index", "Home", null, new { target = "_self" })
    </li>
    <li>
        <a href="auth/agent/Details">Agent</a>
        <ul class="dropdown">
            <li>
                <a href="auth/agent/Details">My Details</a>
            </li>
            <li>
                <a href="auth/agent/Tree/Binary">My Binary Tree</a>
            </li>
            <li>
                <a href="auth/agent/Tree/Generation">My Generation Tree</a>
            </li>
        </ul>
    </li>
    <li>
        @Html.ActionLink("Contact Us", "Contactus", "Home", null, new { target = "_self" })

    </li>
</ul>
@Html.Partial("_LoginPartial")