<footer>
    <div class="container">
        <div class="row footer-widgets">

           
            <div class="col-md-3">
                <div class="footer-widget mail-subscribe-widget">
                    <h4>Get in touch<span class="head-line"></span></h4>
                    <p>Join our mailing list to stay up to date and get notices about our new releases!</p>
                    <form class="subscribe">
                        <input type="text" placeholder="info@brightfuturemart.com">
                        <input type="submit" class="main-button" value="Send">
                    </form>
                </div>
               
            </div><!-- .col-md-3 -->
            
            <div class="col-md-3">
                <div class="footer-widget twitter-widget">
                     <div class="footer-widget social-widget">
                    <h4>Follow Us<span class="head-line"></span></h4>
                    <ul class="social-icons">
                        <li>
                            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                        <li>
                            <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                        </li>
                        <li>
                            <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                        </li>
                        <li>
                            <a class="instgram" href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a class="vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>
                        </li>
                        <li>
                            <a class="skype" href="#"><i class="fa fa-skype"></i></a>
                        </li>
                    </ul>
                </div>
                </div>
            </div><!-- .col-md-3 -->
           
            <div class="col-md-3">
                <ul class="icons-list">
					<li><i class="fa fa-globe">  </i> <strong>Address:</strong> Ratan Palace in front of Gulmohar Enclave
Near 100 foot Road,
Shamshabad Road,
Agra,(U.P.) Pin Code 282001</li>
					<li><i class="fa fa-envelope-o"></i> <strong>Email:</strong>brightfuture.241@rediffmail.com</li>
					<li><i class="fa fa-mobile"></i> <strong>Phone:</strong> 0562-6888036</li>
				</ul>




                
            </div>
            <div class="col-md-3">
                <div class="footer-widget contact-widget">
                    <h4><img src="~/Content/Bootstrap/images/logo1.png" class="img-responsive" alt="Footer Logo" /></h4>
                    <p>Bright Future Group Of Company</p>
                   
                </div>
            </div><!-- .col-md-3 -->
            <!-- End Contact Widget -->


        </div><!-- .row -->
        <!-- Start Copyright -->
        <div class="copyright-section">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2015 Bright Future -  All Rights Reserved</p>
                </div>
                <div class="col-md-6">
                    <ul class="footer-nav">
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Copyright -->

    </div>
</footer>