<ul class="nav navbar-nav navbar-left">
    <li>
        <a class="active" href="/Home/Index">Home</a>
    </li>
    <li>
        <a href="/#/">Agent</a>
        <ul class="dropdown">
            <li>
                <a href="/#/agent/Details">My Details</a>
            </li>
            <li>
                <a href="/#/agent/Tree/Binary">My Binary Tree</a>
            </li>
            <li>
                <a href="/#/agent/Tree/Generation">My Generation Tree</a>
            </li>
        </ul>
    </li>
    <li>
        @*<a href="/Home/contectus">Contact Us</a>*@

    </li>
</ul>
@Html.Partial("_LoginPartial")