<ul class="nav navbar-nav navbar-left">
    <li>
        <a class="active" href="/Home/Index">Home</a>
    </li>

    <li>
        <a href="/Home/about">About</a>
        <ul class="dropdown">
            <li>
                <a href="/Home/about">About Recent Mart</a>
            </li>
            <li>
                <a href="#">About Group</a>
            </li>
            <li>
                <a href="/Home/ChairmanMsg">Chairman's Message</a>
            </li>
            <li>
                <a href="#">Legal</a>
            </li>

        </ul>



    </li>
    <li>
        <a href="/Home/BusinessPlan">Business Plan</a>
    </li>
    <li>
        <a href="/Products/Productpage">Products</a>
        <ul class="dropdown">
            <li>
                <a href="/Products/Productpage">FMCG</a>
            </li>
            <li>
                <a href="/Products/Productpage">Orgenic</a>
            </li>
            <li>
                <a href="/Products/Productpage">All</a>
            </li>

        </ul>
    </li>
    <li>
        <a href="s1.html">Downloads</a>
        <ul class="dropdown">
            <li>
                <a href="/Home/Downloads">Joining Forms</a>
            </li>
            <li>
                <a href="#">Manuals</a>
            </li>
            <li>
                <a href="#">Brocers</a>
            </li>
            <li>
                <a href="#">Videos#</a>
            </li>
        </ul>

    </li>
    <li>
        <a href="/Contactus/Index">Contact Us</a>

    </li>
</ul>
@Html.Partial("_LoginPartial")