.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.nodelink {
  fill: none;
  stroke-width: 1.5px;
}

/*.outer {
    height: 500px;
    overflow: auto;
}
.inner {
    height: 510px;
}*/


           div.tooltip {
                position: absolute;
                text-align: center;
                width: 250px;
                height: 60px;
                padding: 8px;
                font: 10px sans-serif;
                background: #ffff99;
                border: solid 1px #aaa;
                border-radius: 8px;
                pointer-events: none;
            }