<nav class="bzng-header" id="bzng-header"> 
    <a class="btn-clear btn-notext toggle-bzng-nav" sidemenu-control="development-navigation">
        <span class="ico-mobile-nav"></span>
        show menu
    </a>
    <span class="ico-mobile-logo"></span>
    <a href="/picker" class="development-bar-mobile ellipsis">
    	{{development.displayName}}
    </a>
    <!-- <a class="btn-clear btn-notext toggle-bzng-notifications">
        <span class="ico-mobile-notifications"></span>
        notifications
    </a> -->
</nav>